* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(34, 31, 31);
  color: coral;
}

.container {
  padding: 20px;
  background-color: rgba(206, 221, 221, 0.358);
  display: flex;
  width: 100%;
  justify-content: end;
}
.form {
  display: flex;
  gap: 1em;
}
.button {
  padding: 5px;
  background-color: coral;
  color: aliceblue;
  font-weight: bold;
  border-radius: 3px;
}
.button:hover {
  background-color: chocolate;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}
